*{
    box-sizing: border-box;
    margin: 0;
    padding: o;

}
body{
    margin: 0; 
    padding: 0;
    color: #ffff;
    background: #1e1f29;
    line-height: 1.4;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 60vh;
    
}

h1{
    text-align: center;
    font-size: 30px;
    margin-bottom: 13px;
    color: #fff;
}

.calculadora{

    background-color: #2a2b36;
    width: 90%;
    padding: 30px;
    border: 3px solid #333;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    box-shadow: 0 8px 25px rgba(0,0,0,0.4);
}
.display{
    width: 100%;
}

input{
    text-align: end;
    font-size: 1.8rem;
    width: 100%;
    height: 3rem;
    padding: 8px 12px;
    background-color: #c8f0ff;
    color: #111;
    border: none;
    outline: none;
    border-radius: 4px;
}
.botoes{
    /* border: double greenyellow 4px; */
    display: grid; 
    gap: 10px;
}

.numeros{
    border: 3px solid goldenrod;
    display: grid;
    grid-template-columns: repeat(3,1fr) ;
    gap: 10px;
}
.numeros button:nth-child(10) {
grid-column: span 2;

}

/* .operadores{
    display: grid;
    grid-template-columns: repeat(3,1fr)
} */

.operadores{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
}

.acoes{
    border: 3px red dotted;
    display: grid;
    gap: 7px;
    grid-template-columns: repeat(3,1fr);         
}

button{
    padding: 16px 0;
    font-size: 1.2rem;
    font-weight: bold;
    background:#3e4053;
    color: #fff;
    cursor: pointer;
    border: none;
    transition: 0.12s;
}
button:hover{
    background-color: #4f5170;
    transform: translateY(-3px);
}

button:active{
transform: scale(o.95);
}
/* cores especiais nesse caso dos operadores */
.operador{
    background: #ff7a4f;
}
.operador:hover{
    background: #ff7a;
}
#limpar, #percentagem,#apagar{
    background: #ff4d6d;
    }

    #limpar:hover, #percentagem:hover,#apagar:hover{
        background: #ff7a;
    }
/* 


button:hover{
    background: #4f5170;
    transform: translateY(-2px);
}

button:active{
    transform: scale(0.95);
}

/* cores especiais 
.operador{
    background: #ff7a45;
}
.operador:hover{
    background: #ff955f;
}

#limpar, #apagar, #percentagem{
    background: #ff4d6d;
}
#limpar:hover, #apagar:hover, #percentagem:hover{
    background: #ff738d;
}*/

/* botão 0 maior 
.numeros button:nth-child(10){
    grid-column: span 2;
} */